<div class="container">
    <!-- Left Section -->
    <div class="nav-1">
        <img src="https://www.shutterstock.com/image-vector/letter-crm-professional-logo-design-600nw-2216036823.jpg" 
            alt="logo" height="90" width="90">
        <div class="nav-1-sub">
            <img src="https://www.iconbolt.com/preview/twitter/ionicons-regular/scan.svg" 
                alt="scan" width="40" height="40">
            <img src="https://thumbs.dreamstime.com/b/user-icon-vector-male-person-symbol-profile-circle-avatar-sign-user-icon-vector-male-person-symbol-profile-circle-avatar-sign-115922533.jpg" 
                alt="profile" height="40" width="40">
            <p>DSA CRM <br>Admin</p>
        </div>
    </div>
    <hr>
    <!-- Right Section -->
    <div class="nav-2">
        <!-- Add content for right navigation here -->
         <p>Dashboard</p>
         <p>Leads</p>
         <p>Loads</p>    <p>Accounts</p>
         <p>Masters</p>     <p>Reports</p>     <p>Tasks</p>
    </div>
    <p>Case Details</p>
    <div class="main-content">
        <div class="left-content">
<p>Overview</p>
<p>Applicant details</p>
<p>Loan details</p>
<p>Books</p>
<p>Documents</p>
<p>Loan offers</p>
<p>Verification Reports</p>
<p>Comments</p>
        </div>
<!-- 
        <div class="right-content">
<div class="right-sub-1">
    <p>Documents</p>
   <div class="right-sub-2">
    <button>send documents</button>
    <button>Share</button>
   </div>
</div>

<div class="Pri-sec-doc">
    <p>Primary Documents</p>
    <p>Secondary Documents</p> 
</div>
        </div> -->
    </div>
</div>