<div class="container-fluid p-3">
    <div class="row " >
        <div class="col-md-12 d-flex flex-column flex-sm-row">
            <a href="#" class="text-decoration-none d-flex">
                <img src="https://cdn3d.iconscout.com/3d/premium/thumb/gift-box-3d-illustration-download-in-png-blend-fbx-gltf-file-formats--present-surprise-wanna-shop-pack-e-commerce-shopping-illustrations-3286985.png" alt="" width="50px" height="50px" style="border-radius: 50%;" class="me-2">
               <div>
                <span class="fw-bolder text-decoration-none text-dark">Your Submition Was Sucessful</span><br>
                <span class="text-dark">we will be sharing your application soon , help us with few more documents to make your application stronger.</span>
               </div>
            
            </a>
        </div>
        
        <div class="row" >
            <div class="col-md-12">
                
                <a href="" class="text-decoration-none text-primary fw-bold primary fs-5 ">Primary Applicant</a>
                <hr class="mt-0">
            </div>
        </div>


       </div>
       <div class="row py-5" style="margin-top: 50px;">
        <div class="col-md-12">
            <div class="btn-group input-group-sm">
                <div class="input-group-prepend">
                  <button class="btn " style="background-color: rgb(197, 195, 195);">
                    <i class="fa fa-arrow-left"></i>
                  </button>
                </div>
                <button class="btn bg-light fs-6" routerLink="/createNewCase/loan" > Back To Loan Offers</button>
              </div>        
       </div>
</div>