<div class="documents-container">
    <h2>Documents</h2>
    <!-- Tab and Action Buttons Section -->
    <div class="header-row">
      <button class="primary-applicant-button">Primary Applicant</button>
      <div class="sub-container">
        <button>Send Documents</button>
        <button>
          <i class="fas fa-share-alt" style="margin-right: 8px;"></i>Share
        </button>
      </div>
    </div>
  
    <!-- Table Section -->
    <div class="documents-table">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Document</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- Documents List -->
          <tr *ngFor="let doc of documents; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <input
                type="text"
                [(ngModel)]="doc.name"
                placeholder="Enter Document Name"
              />
            </td>
            <td>
              <!-- Upload Button -->
              <label class="btn-action btn-upload">
                Upload
                <input
                  type="file"
                  class="file-upload"
                  (change)="uploadFile($event, doc)"
                  hidden
                  accept=".pdf"
                />
              </label>
  
              <!-- Buttons Container -->
              <div class="buttons-container">
                <!-- Edit Button -->
                <button class="btn-action btn-edit" (click)="editDocument(i)">
                  Edit
                </button>
  
                <!-- Delete Button -->
                <button
                  *ngIf="doc.isEdited"
                  class="btn-action btn-delete"
                  (click)="deleteDocument(i)"
                >
                  Delete
                </button>
              </div>
            </td>
          </tr>
  
          <!-- Add Item Button -->
          <tr>
            <td colspan="3">
              <button class="btn-action" type="button" (click)="addDocument()">
                Add Item
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  