/* app.component.css */
.modal.show {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.5); /* Add background overlay */
  }
  
  .modal-dialog {
    max-width: 700px;
    margin: 100px auto;
  }
  .modal-header{
    background-color: lightseagreen;
  }
  /* Optional styling for the drag-and-drop area */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashed-border {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
}

.border {
  border: 2px dotted rgb(199, 198, 198) !important;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Modal z-index */
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Success popup styles */
.success-popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050; /* Higher z-index to make it appear above the modal */
  padding: 15px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
}

.btn-light{
  background-color: white;
  border: none;
  font-size: 40px;
}


.btn-light:hover{
  background-color: white;
  border: none;
  font-size: 40px;
}
/* nested-dropdown.component.css */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}
