<div class="container-fluid p2">
<div class="row">
    <div class="col-md-12 text-center">
        <h5 class="py-1">Download Provisional Sanction Letter</h5>
        <img src="https://img.freepik.com/free-vector/programmer-man-is-working-with-laptop-seat-work-from-home_40876-2623.jpg" alt="" width="300px" height="300px">
        <div>
            <span>Seat Back & Realax! Executive Will Contact You Soon For Further Process</span><br>
            <span>Download Your Provisional Sanction Letter </span>
        </div>

        <button class="btn mt-2 " style="background-color: #4DA1A9;">Download</button>
        <div class="py-2">
            <h5 class="">Track Loan application</h5>
        </div>
    </div>
</div>
</div>