form{
    height: fit-content;
    
}
.comments{
    font-weight: bold;
    color: rgb(5, 5, 102);
    font-size: 20px;
}
.btn-outline-primary{
    margin-top: 10px;
    color: rgb(5, 5, 102);
    border:1px solid rgb(5, 5, 102) ;
    
}
.container{
    border: 1px sold grey;
}
/* comment-section.component.css */
.reply-section {
    display: block;
    margin-top: 10px;
  }

  /* Custom indentation for each level */
.reply-section {
    margin-left: 20px;
  }
  
  .media-body {
    padding-left: 20px;
  }
  
  .media {
    margin-top: 10px;
  }
  /* Add spacing between timestamp and reply button */
.media-body small {
    display: block;  /* Ensures timestamp is treated as a block-level element */
    margin-bottom: 10px;  /* Adds space below the timestamp */
  }
  
  .media-body button {
    margin-top: 10px;  /* Adds space above the button */
  }
  
  
  