<div class="documents-container">
  <!-- Conditionally render title and search button -->
  <h2 *ngIf="!showCreateDocument">Documents List</h2>

  <!-- Toggle Button -->
  <div class="search-add-container">
    <div class="search-container">
      <!-- Conditionally render the search input and button -->
      <input *ngIf="!showCreateDocument" id="search" [(ngModel)]="searchQuery" (input)="filterDocuments()" placeholder="Search by loan type or employment type" />
    </div>
    <button (click)="toggleCreateDocument()" class="toggle-btn">
      {{ showCreateDocument ? 'Cancel' : 'Create Document' }}
    </button>
  </div>
  
  <!-- Conditional Rendering for Documents List -->
  <div *ngIf="!showCreateDocument">
    <table>
      <thead>
        <tr>
          <th>Sr. No</th>
          <th>Type Of Loan</th>
          <th>Employment Type</th>
          <th>Total Documents</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of documents; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ document.typeOfLoan }}</td>
          <td>{{ document.employmentType }}</td>
          <td>{{ document.totalDocuments }}</td>
          <td>
            <button class="edit-btn" [routerLink]="['/edit-document']">✏️</button>
            <button class="delete-btn" (click)="handleDelete(i)">🗑️</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Create Document Form -->
  <div *ngIf="showCreateDocument">
    <h2>Create Document</h2>
    <form (ngSubmit)="addDocument()">
      <div>
        <label for="typeOfLoan">Type of Loan:</label>
        <select id="typeOfLoan" [(ngModel)]="newDocument.typeOfLoan" name="typeOfLoan" required>
          <option value="" disabled selected>Select </option>
          <option value="Home">Home Loan</option>
          <option value="Car">Car Loan</option>
          <option value="Personal">Personal Loan</option>
          <option value="Education">Education Loan</option>
        </select>
     
        <label for="employmentType">Employment Type:</label>
        <select id="employmentType" [(ngModel)]="newDocument.employmentType" name="employmentType" required>
          <option value="" disabled selected>Select </option>
          <option value="Full-Time">Full-Time</option>
          <option value="Part-Time">Part-Time</option>
          <option value="Freelancer">Freelancer</option>
          <option value="Self-Employed">Self-Employed</option>
          <option value="Retired">Retired</option>
        </select>
      </div>
    
      <button type="submit"> + Create Document</button>
    </form>
    
  </div>
</div>
