<div class="outer"> 
    <div class="inner vertical"></div>
    <div class="inner horizontal">
        <div class="centered">Overview</div>
        <hr class="horizontal-line"> <!-- Horizontal line after centered div -->
        <div class="inner-div">
            <div>Application no <br>#LD200</div>
            <div>Applicant <br>Navnat Suryakant Gaikwad</div>
            <div>Account manager</div>
            <div>Case Generated</div>
            <div>Requirement Loan<br>60,000</div>
            <div>Loan Status <br>to be login</div>
            <div>Last Updation</div>
        </div>
    </div>
</div>
