<div class="outer">
    <div class="inner vertical"></div>
    <div class="inner horizontal">
        <div class="centered">Overview</div>
        <hr class="horizontal-line"> <!-- Horizontal line after centered div -->
        <div class="inner-div">
            <div><strong>Application no:</strong> #LD200</div>
            <div><strong>Applicant:</strong> Navnat Suryakant Gaikwad</div>
            <div><strong>Account Manager:</strong> </div>
            <div><strong>Case Generated:</strong> </div>
            <div><strong>Requirement Loan:</strong> 60,000</div>
            <div><strong>Loan Status:</strong> To be logged in</div>
            <div><strong>Last Update:</strong> </div>
        </div>
    </div>
</div>
