<form class="container-fluid mt-3" id="myForm">
    <div class="row mb-3">
      <div class="col-11">
        <h6>Check Eligibility</h6>
      </div>
      <!-- <div class="col-1 d-flex justify-content-end position-absolute" style="top: 10px; right: 10px;">
        <button class="btn btn-close" type="button" aria-label="Close" (click)="closeForm()">
          <span aria-hidden="true"></span>
        </button>
      </div> -->
    </div>
  
    <div class="row">
      <!-- Mobile Number Input -->

      <div class="col-md-4 icon-field" >
        <label for="mobile">Mobile <span style="color: red;">*</span></label><br>
        <div class="form-group position-relative">
          <span class="icon">
            <i class="fa fa-save"></i>
          </span>
        <input 
          type="tel" 
          id="mobile" 
          placeholder="enter 10 digit mobile number"
          class="form-control mt-2" 
          required 
          [(ngModel)]="mobile"  
          name="mobile" 
          (input)="validateMobile()"  
          maxlength="10" 
          #mobileNumber="ngModel"

          [ngClass]="{ 'is-invalid': mobileNumber.invalid && mobileNumber.touched,
                'is-valid': mobileNumber.valid && mobileNumber.touched}"
        />
        </div>
        <!-- Show error message if mobile validation fails -->

        <div *ngIf="mobileNumber.invalid && mobileNumber.touched" class="text-danger form-text position-absolute">
          <span *ngIf="mobileNumber" style="color: red; display: block;">Please enter a valid 10-digit mobile number.</span>
          
        </div>
      </div>
      
  
      <!-- Loan Type Dropdown -->
      <div class="col-md-4">
        <label for="loan">Type Of Loans <span style="color: red;">*</span></label><br>
        <div class="dropdown mt-2">
          <select 
            id="loan" 
            class="form-control form-select" 
            aria-label="Type Of Loan" 
            required 
            [(ngModel)]="loanType"  
            #loanTypeInput="ngModel"
            name="loanType" 
            (change)="validateForm()" 
            
            [ngClass]="{
              'is-invalid' : loanTypeInput.touched && loanTypeInput.invalid,
              'is-valid'    :loanTypeInput.touched && loanTypeInput.valid
            }"
          >
            <option value="">Select loan type</option>
            <option value="personal">Personal Loan</option>
            <option value="home">Home Loan</option>
            <option value="auto">Auto Loan</option>
            <option value="other">Other</option>
          </select>
          <div *ngIf="loanTypeInput.invalid && loanTypeInput.touched" class="text-danger form-text position-absolute">
            <span *ngIf="loanTypeInput" style="color: red; display: block;">Please select option.</span>
            
          </div>
        </div>
      </div>
  
      <div class="col-md-3"></div>
      
      <!-- Continue Button -->
      <div class="col-md-1 d-flex justify-content-end mt-5">
        <!-- Disable the button if form is invalid -->
        <button [disabled]="!isFormValid" class="btn btn-info" type="button" routerLink="/personalloan">Continue</button>
      </div>
    </div>
    
  </form>
  