<div class="container">
    <div class="top">
        <p>Documents</p>
        <div class="sub-container">
            <button>Send Documents</button>
            <button>
                <i class="fas fa-share-alt" style="margin-right: 8px;"></i>Share
            </button>
        </div>
    </div>

    <div class="pri-sec-documents">
        <button>Primary Applicant</button>
        <button>Secondary Applicant</button>
    </div>

    <div class="content">
        <div class="left-content">
           <strong> <p>#</p></strong>
           <strong>
            <p>Document</p>
           </strong> 
        </div>
        <div class="right-content">
            <!-- <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i> -->
            <strong><p>Action</p></strong>
        </div>
    </div>

    <div class="upload-documents">
        <div class="left-content">
            <p>1</p>
            <input type="text" placeholder="Photo" disabled>
        </div>
        <div class="right-content" >
            <input  class="i" onchange="handleFileUpload(1)" type="file" id="l" >
            
            <label for="l">
                <i class="fa-solid fa-upload" ></i>
            </label>
            <i class="fa-solid fa-eye" ></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>



    <div class="upload-documents">
        <div class="left-content">
            <p>2</p>
            <input type="text" placeholder="Photo" disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>




    <div class="upload-documents">
        <div class="left-content">
            <p>3</p>
            <input type="text" placeholder="Addhar Card" disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>


    <div class="upload-documents">
        <div class="left-content">
            <p>4</p>
            <input type="text" placeholder="3 Months Salary Slip" disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>

    <div class="upload-documents">
        <div class="left-content">
            <p>5</p>
            <input type="text" placeholder="Last 2 Years Form 16" disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>

        
    </div>


    <div class="upload-documents">
        <div class="left-content">
            <p>6</p>
            <input type="text" placeholder="Property Cost Sheet/ Sale Agreement" disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>
        

    <div class="upload-documents">
        <div class="left-content">
            <p>7</p>
            <input type="text" placeholder="Property Cost Sheet/ Sale Agreement" disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>


    <div class="upload-documents">
        <div class="left-content">
            <p>8</p>
            <input type="text" placeholder="Index 2 " disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>
        

    <div class="upload-documents">
        <div class="left-content">
            <p>8</p>
            <input type="text" placeholder="Pan Card" disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>
        

    <div class="upload-documents">
        <div class="left-content">
            <p>9</p>
            <input type="text" placeholder="Address Proof" disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>

    </div>


    <div class="upload-documents">
        <div class="left-content">
            <p>10</p>
            <input type="text" placeholder="6 Months Bank Statement" disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>

    </div>

    <div class="upload-documents">
        <div class="left-content">
            <p>11</p>
            <input type="text" placeholder="Proof Of Rent Income" disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>

    </div>

    <div class="upload-documents">
        <div class="left-content">
            <p>12</p>
            <input type="text" placeholder="Proof Of Incentive Income" disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>

    </div>


    <div class="upload-documents">
        <div class="left-content">
            <p>13</p>
            <input type="text" placeholder="Floor Plan" disabled>
        </div>
        <div class="right-content">
            <i class="fa-solid fa-upload"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>

    </div>
    
    
</div>
