.container {
    max-width: 1200px;
    width: 100%;
}

hr {
    border: none;
    border-top: 2px solid #000;
    /* Thickness and color of the line */
    margin: 10px 0;
    /* Space above and below the line */
    width: 100%;
    /* Make the line stretch across the container */
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
}

thead th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}