<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="container">
      <div class="row">
        <!-- New Password Field -->
        <div class="col-md-4">
          <div class="form-group position-relative icon-field">
            <label for="newPassword" class="form-label">New Password</label>
            <div class="form-group position-relative">
              <span class="icon">
                <i class="fa fa-save"></i>
              </span>
            <input 
              type="password"
              placeholder="Enter new password"
              class="form-control border-0 bg-light"
              id="newPassword"
              [(ngModel)]="newpassword"
              name="newPassword"
              #password="ngModel"
              [ngClass]="{
                'is-invalid': password.invalid && password.touched, 
                'is-valid': password.valid && password.touched
              }"
              required
              minlength="8"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$"
              autocomplete="off"
            >
            </div>
            <div *ngIf="password.touched && password.invalid" class="text-danger form-text position-absolute">
              <div *ngIf="password.errors?.['required']">Password is required</div>
              <div *ngIf="password.errors?.['minlength']">Password must be at least 8 characters</div>
              <div *ngIf="password.errors?.['pattern']">one uppercase letter, one lowercase letter, and one number</div>
            </div>
          </div>  
        </div>
      
        <!-- Confirm Password Field -->
        <div class="col-md-4">
          <div class="form-group position-relative icon-field">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <div class="form-group position-relative">
              <span class="icon">
                <i class="fa fa-save"></i>
              </span>
            <input 
              type="password" 
              placeholder="Enter confirm password"
              class="form-control border-0 bg-light"
              [(ngModel)]="confirmPassword"
              id="confirmPass"
              name="confirmPass"
              #confirmPass="ngModel"
              [ngClass]="{
                'is-invalid': (confirmPass.invalid && confirmPass.touched) || !passwordsMatch,
                'is-valid': confirmPass.valid && confirmPass.touched && passwordsMatch
              }" 
              (ngModelChange)="checkPasswordMatch()"
              required
              minlength="8"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$"
              [ngModelOptions]="{standalone:true}"
              autocomplete="new-password" 
            >
            </div>
            <div *ngIf="confirmPass.touched && confirmPass.invalid" class="text-danger form-text position-absolute">
              <div *ngIf="confirmPass.errors?.['required']">Confirm password is required</div>
              <div *ngIf="confirmPass.errors?.['minlength']">Confirm password must be at least 8 characters</div>
              <div *ngIf="confirmPass.errors?.['pattern']">one uppercase letter, one lowercase letter, and one number</div>
              <div *ngIf="!passwordsMatch && confirmPass.touched">Passwords do not match</div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Submit Button -->
      <div class="row py-5">
        <div class="col-md-12 text-end">
          <div class="form-group">
            <button class="btn btn-primary" [disabled]="!form.valid || !passwordsMatch">Change Password</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  