.btn-s{
    font-size: small;
    height: 30px;
    width: 100px;

    border: none;

}

.btn-s:hover{
    /* background-color: rgb(214, 214, 214); */
    color: aliceblue;
}

.hover-border:hover{ 
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;

 }

 .modalBody{
    height: 400px;
    width: 100%;
    /* border: 1px solid black; */
 }

 .topBox{
    height: 80%;
    /* display: flex; */
 }

 .bottomBox{
    height: 20%;
    /* display: flex; */
 }

 .bg-orange {
    background-color: #ff9900;
  }
  
  .bg-danger {
    background-color: #dc3545;
  }
  
  .bg-primary {
    background-color: #3178c4;
  }


  .bg-success {
    background-color: #28a745;
  }
  
  .bg-war {
    background-color: #ff9900; 
  }
  
  .cardHeader{
    display: flex;
    flex-direction: row;
  }
  




