<div class="container m-3 m-auto" >
  <!-- Breadcrumb at the top right corner -->
  <div class="d-flex justify-content-end">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Leads</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Lead</li>
      </ol>
    </nav>
  </div>

  <div class="sub-nav">
    <h5 class="zone" style="color: blue;"><strong>CREATE LEAD</strong></h5>
  </div>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <form [formGroup]="leadForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-3 form-group">
        <!-- <label for="mobile"><span class="text-danger">*</span> Mobile </label> -->
        <label for="inputmobile" class="form-label"><span class="text-danger">*</span> Mobile</label>
        <input
          type="number"
          id="inputmobile"
          formControlName="mobile"
          class="form-control"
          placeholder="Enter Mobile"
          maxlength="10"
          required
        />
      </div>

      <div class="col-md-3 form-group">
        <!-- <label for="typeOfLoan"><span class="text-danger">*</span> Type of Loan </label> -->
        <label for="inputtypeOfLoan4" class="form-label"><span class="text-danger">*</span> Type Of Loan</label>
        <select
          id="inputtypeOfLoan4"
          formControlName="typeOfLoan"
          class="form-select"
          aria-label="Default select example"
          required
        >
          <option value="" disabled selected>Select Loan Type</option>
          <option *ngFor="let loanType of loanTypes" [value]="loanType">
            {{ loanType }}
          </option>
        </select>
      </div>
    </div>

    <div class="actions">
      <button type="submit" class="btn btn-primary" [disabled]="!leadForm.valid">
        Continue
      </button>
    </div>
  </form>
</div>
