<div class="contain m-3">
    <h3 class="h4 text-primary">EMPLOYEES</h3>
    <div>
        <div class="row" style="width: 100%; align-items: center;">
            <!-- Search Input and Select in one row -->
            <div class="col-md-3 d-flex flex-wrap align-items-center">
                <div class="input-group m-1 flex-grow-1" style="min-width: 150px;">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search..."
                        aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>

            <!-- Buttons aligned to the right -->
            <div class="col-md-9 text-center text-md-end mt-2 mt-md-0">
                <button class="btn btn-primary m-1" routerLink="/roles">Role</button>
                <button class="btn btn-primary m-1">Incentive Structure</button>
                <button class="btn btn-primary m-1" routerLink="/registration">+ Create Employee</button>
                <button class="btn btn-outline-success" (click)="refresh()">
                    <i class="fa-solid fa-arrows-rotate" [ngClass]="{'spin': isSpinning}"></i> Refresh
                </button>
            </div>
        </div>

        <div class="fixed-height" style="max-height: 400px; overflow-y: auto; overflow-x: auto;">
            <table class="table table-responsive">
                <thead class="sticky-top">
                    <tr>
                        <th scope="col">Employee Id
                            <i (click)="sortTable('id')" class="fas ms-2"
                                [class.fa-arrow-up-a-z]="sortDirection['id'] === 'asc'"
                                [class.fa-arrow-down-z-a]="sortDirection['id'] === 'desc'" style="cursor: pointer;">
                            </i>
                        </th>
                        <!-- <th scope="col"></th> -->
                        <th scope="col">Name
                            <i (click)="sortTable('name')" class="fas ms-2"
                                [class.fa-arrow-up-a-z]="sortDirection['name'] === 'asc'"
                                [class.fa-arrow-down-z-a]="sortDirection['name'] === 'desc'" style="cursor: pointer;">
                            </i>
                        </th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Gender</th>
                        <th scope="col">
                            <div style="display: flex; flex-direction: row;">
                                <div>Role</div>
                                <div class="dropdown">
                                    <button type="button" class="btn m-0 ms-2 p-0 text-secondary position-relative"
                                        style="background: none; border: none; color: black;" data-bs-toggle="dropdown"
                                        aria-expanded="false" data-bs-auto-close="outside">
                                        <span *ngIf="selectedRole.size > 0"
                                            class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                            <span class="visually-hidden">New alerts</span>
                                        </span>
                                        <i class="fa-sharp fa-solid fa-filter"></i>
                                    </button>
                                    <form class="dropdown-menu p-4">
                                        <div class="mb-3">
                                            <div class="form-check">
                                                <label>
                                                    <input type="checkbox"
                                                        class="form-check-input border border-secondary"
                                                        id="dropdownCheck1" (change)="toggleSelectedAllRole($event)">
                                                    SelectAll
                                                </label>
                                            </div>
                                            <div class="form-check" *ngFor="let role of role">
                                                <label style="color: rgb(87, 85, 85);">
                                                    <input type="checkbox"
                                                        class="form-check-input border border-secondary"
                                                        id="dropdownCheck2" [checked]="selectedRole.has(role)"
                                                        (change)="toggleRole(role)">
                                                    {{ role}}
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                    <i (click)="sortTable('role')" class="fas ms-2"
                                        [class.fa-arrow-up-a-z]="sortDirection['role'] === 'asc'"
                                        [class.fa-arrow-down-z-a]="sortDirection['role'] === 'desc'"
                                        style="cursor: pointer;">
                                    </i>
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div style="display: flex; flex-direction: row;">
                                <div>Status</div>
                                <div class="dropdown">
                                    <button type="button" class="btn m-0 ms-2 p-0 text-secondary position-relative"
                                        style="background: none; border: none; color: black;" data-bs-toggle="dropdown"
                                        aria-expanded="false" data-bs-auto-close="outside">
                                        <span *ngIf="selectedStatus.size > 0"
                                            class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                            <span class="visually-hidden">New alerts</span>
                                        </span>
                                        <i class="fa-sharp fa-solid fa-filter"></i>
                                    </button>
                                    <form class="dropdown-menu p-4">
                                        <div class="mb-3">
                                            <div class="form-check">
                                                <label>
                                                    <input type="checkbox"
                                                        class="form-check-input border border-secondary"
                                                        id="dropdownCheck1" (change)="toggleSelectedAllStatus($event)">
                                                    SelectAll
                                                </label>
                                            </div>
                                            <div class="form-check" *ngFor="let status of status">
                                                <label style="color: rgb(87, 85, 85);">
                                                    <input type="checkbox"
                                                        class="form-check-input border border-secondary"
                                                        id="dropdownCheck2" [checked]="selectedStatus.has(status)"
                                                        (change)="toggleStatus(status)">
                                                    {{ status}}
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                    <i (click)="sortTable('status')" class="fas ms-2"
                                        [class.fa-arrow-up-a-z]="sortDirection['status'] === 'asc'"
                                        [class.fa-arrow-down-z-a]="sortDirection['status'] === 'desc'"
                                        style="cursor: pointer;">
                                    </i>
                                </div>
                            </div>
                        </th>
                        <th scope="col">Change Password</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of paginatedLoans">
                        <th scope="row">{{ employee.empId }}</th>
                        <!-- <td><i class="fa-solid fa-user"></i></td> -->
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.mobile }}</td>
                        <td>{{ employee.gender }}</td>
                        <!-- <td><img src="data:image/jpeg;base64,{{employee.upload_Photo}}" height="50px" width="50px"/></td> -->
                        <td>{{ employee.role}}</td>
                        <td>
                            <p [ngStyle]="{
                                'background-color': employee.status === 'ACTIVE' ? 'rgb(220, 228, 255)' : 'rgb(255, 220, 220)',
                                'color': employee.status === 'ACTIVE' ? 'rgb(0, 8, 255)' : 'rgb(255, 0, 0)'
                                }"
                                style="border-radius: 5px; text-align: center; margin: 0; font-family: Arial, Helvetica, sans-serif; cursor: pointer;"
                                (click)="toggledStatus(employee)">
                                {{ employee.status }}
                            </p>
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                            <button class="border-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                style="background: none;" (click)="openModal(employee.id)">
                                <i class="fa-solid fa-lock"></i>
                            </button>
                        </td>
                        <td><button style="background: none; border:none;"><i
                                    [routerLink]="['/employee-details', employee.id]"
                                    class="fa-solid fa-eye"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Change Password</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form (ngSubmit)="updatePassword(passwordForm)" #passwordForm="ngForm">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">Password</label>
                                <div class="input-group">
                                    <input type="{{passwordVisible ? 'text' : 'password'}}" 
                                           class="form-control" 
                                           id="newPassword" 
                                           name="newPassword" 
                                           [(ngModel)]="newPassword" 
                                           placeholder="Enter new password" 
                                           required>
                                    <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                                        <i class="bi" [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <div class="input-group">
                                    <input type="{{confirmPasswordVisible ? 'text' : 'password'}}" 
                                           class="form-control" 
                                           id="confirmPassword" 
                                           name="confirmPassword" 
                                           [(ngModel)]="confirmPassword" 
                                           placeholder="Confirm new password" 
                                           required>
                                    <button type="button" class="btn btn-outline-secondary" (click)="toggleConfirmPasswordVisibility()">
                                        <i class="bi" [ngClass]="confirmPasswordVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
                                    </button>
                                </div>
                            </div>
                    
                            <!-- Error message -->
                            <div *ngIf="errorMessage" class="alert alert-danger">
                                {{ errorMessage }}
                            </div>
                            <div *ngIf="successMessage" class="alert alert-success">
                                {{ successMessage }}
                            </div>
                        </div>
                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="pagination col-9">
            <button class="btn btn-primary" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button class="btn btn-primary" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
        </div>
    </div>
</div>