
   <div class="container">
    <div class="nav">
      <div class="sub-nav">
        <h5 class="zone" style="color:#050566;"><strong>Zone</strong></h5>
      </div>
      <div class="sub-nav2">
        <span class="span">Masters > Zone > <span class="sub-span">Zones List</span></span>
      </div>
    </div>
  
    <div class="container-1 mt-5">
      <div class="title-1  d-flex justify-content-end">
    
        <button 
          type="button" 
          class="btn btn-primary" 
          (click)="toggleMiddleContainer()"
          style="background-color: #050566;">
          <i class="fa-solid fa-plus"></i> Create Zone
        </button>
      </div>
  
      <!-- Middle container will be toggled based on the isMiddleContainerVisible flag -->
      <div class="moddle-container" *ngIf="isMiddleContainerVisible">
        <h6>Create New Zone</h6>
 
        <div class="row mt-5">
          <div class="col-md-4">
            <label for="zone">Zone</label>
            <input 
              type="text" 
              class="form-control border border-secondary mt-1" 
              id="zone" 
              [(ngModel)]="zone" 
              placeholder="Enter Zone"
              (input)="ZoneValidation($event)"
             >
              
          </div>
  
          <div class="col-md-4">
            <label for="state">State</label>
            <select 
              id="state" 
              class="form-select border border-secondary mt-1" 
              [(ngModel)]="selectedState" 
              (change)="onStateChange()">
              <option value="" disabled selected>Select State</option>
              <option *ngFor="let state of states" [value]="state.name">
                {{ state.name }}
              </option>
            </select>
          </div>
  
          <div class="col-md-4">
            <label for="city">City</label>
            <select 
              id="city" 
              class="form-select border border-secondary mt-1" 
              [(ngModel)]="selectedCity">
              <option value="" disabled selected>Select City</option>
              <option *ngFor="let city of cities" [value]="city">
                {{ city }}
              </option>
            </select>
          </div>
        </div>
  
        <div class="d-flex justify-content-end mt-5 gap-3">
          <button type="button" class="btn btn-light" (click)="cancelCreateZone()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="createZone()" style="background-color: #050566;">Create</button>
        </div>
      </div>
  
      <hr class="mt-4">
  
      <div class="d-flex justify-content-between align-items-center mt-2">
        <div class="d-flex">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            <i class="fas fa-search"></i>
          </span>
          <input 
            type="text" 
            class="form-control" 
            aria-label="Sizing example input" 
            aria-describedby="inputGroup-sizing-sm" 
            placeholder="Search..."
            (input)="handleSearch($event)">
        </div>
      </div>

      
  
<div class="table-responsive">

  <table class="table mt-2">
    <thead>
      <tr>
   
        <th scope="col">Sr.No</th>
        <th scope="col">Zone </th>
        <th scope="col">State <i class="fa-solid fa-sort" 
          (click)="sortState()"
          [class.asc]="sortStateOrder === 'asc'"
          [class.desc]="sortStateOrder === 'desc'">
       </i></th>
        <th scope="col">City  <i class="fa-solid fa-sort" 
          (click)="sortCity()"
          [class.asc]="sortCityOrder === 'asc'"
          [class.desc]="sortCityOrder === 'desc'">
       </i></th>
        <th scope="col">Total Locations</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let zoneData of filteredZones.length > 0 ? filteredZones : zonesList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ zoneData.zone }}</td>
        <td>{{ zoneData.state }}</td>
        <td>{{ zoneData.city }}</td>
        <td>{{ zoneData.totalLocations }}</td>
        <td class="icon">
          <i class="fas fa-edit me-3" (click)="handleEdit(i)"></i> 
          <i class="fa-solid fa-trash-can" (click)="deleteZone(i)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
    </div>
  </div>
  