
<form action="" id="isFormValid " #loanForm="ngForm" >
  <div class="container bg-light mt-10 mb-10" >
    <h2 class="text-start  py-2">Check Eligibility</h2>
    <!-- Type of Loan -->
    <div class="row ">
      <div class="col-md-4">
        <div class="form-group">
          <label for="personalLoan" class="form-label">Type Of Loan <span style="color: red">*</span></label><br />
          <select id="personalLoan" class="form-control form-select" aria-label="Type Of Loan" required
            [(ngModel)]="personalLoan" name="personalLoan" #personalLoanInput="ngModel" (change)="validateForm()"
            [ngClass]="{'is-invalid': personalLoanInput.invalid && personalLoanInput.touched, 'is-valid': personalLoanInput.valid && personalLoanInput.touched}"

            >
            <option value="">Select loan type</option>
            <option value="personal">Personal Loan</option>
            <option value="home">Home Loan</option>
            <option value="auto">Auto Loan</option>
            <option value="other">Other</option>
          </select>
          <div *ngIf="personalLoanInput.invalid && personalLoanInput.touched" class="text-danger form-text position-absolute">
            <div *ngIf="personalLoanInput.errors?.['required']">
              Loan type is required
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
    <!-- Primary Applicant -->
    <div class="row ">
      <div class="col-md-12">
        <div class="form-group">
          <div class="row ">
            <a href="" class="text-decoration-none">Primary Applicant</a>
            <hr style="
                  border-top: 1px solid grey;
                  margin-top: 10px;
                  margin-bottom: 10px;
                " />
          </div>
        </div>
      </div>
    </div>
  
    <!-- Applicant Data -->
    <div class="row py-2">
      <!-- 1st column -->
      <div class="col-md-4">
        <!-- First Name -->
        <div class="form-group position-relative">
          <label for="firstName" class="form-label">First Name (Name As Per Pan) <span style="color: red">*</span></label>
          <input 
            type="text" 
            id="firstName" 
            class="form-control" 
            placeholder="Enter your first name" 
            required 
            [(ngModel)]="firstName" 
            name="firstName" 
            pattern="^[A-Z\s]+$" 
            minlength="2" 
            maxlength="50"
            (keypress)="restrictNumbers($event)" 
            #firstNameInput="ngModel"
            (input)="onInputChange($event)"
            [ngClass]="{'is-invalid': firstNameInput.invalid && firstNameInput.touched, 'is-valid': firstNameInput.valid && firstNameInput.touched}"
          />
          <div *ngIf="firstNameInput.invalid && firstNameInput.touched" class="text-danger form-text position-absolute">
            <div *ngIf="firstNameInput.errors?.['required']">
              First Name is required
            </div>
            <div *ngIf="firstNameInput.errors?.['pattern']">
              Only uppercase letters and spaces are allowed
            </div>
            <div *ngIf="firstNameInput.errors?.['minlength']">
              First Name must be at least 2 characters
            </div>
            <div *ngIf="firstNameInput.errors?.['maxlength']">
              First Name cannot exceed 50 characters
            </div>
          </div>
        </div>
        
  
        <!-- Date of Birth -->
       <div class="form-group position-relative">
  <label for="dobInput" class="form-label">Date Of Birth <span style="color: red">*</span></label>
  <input 
    type="date" 
    id="dobInput" 
    class="form-control" 
    required 
    [(ngModel)]="dateOfBirth" 
    name="dateOfBirth" 
    #dobInput="ngModel" 
    (change)="validateAge(dobInput)" 
    (input)="onInputChange($event)"
    [ngClass]="{'is-invalid': dobInput.invalid && dobInput.touched, 'is-valid': dobInput.valid && dobInput.touched}"
  />
  
  <!-- Validation messages -->
  <div *ngIf="dobInput.invalid && dobInput.touched" class="text-danger form-text position-absolute">
    <div *ngIf="dobInput.errors?.['required']">
      Date of birth is required.
    </div>
    <div *ngIf="dobInput.errors?.['underage']">
      You must be at least 18 years old.
    </div>
  </div>
</div>

        
  
        <!-- PAN No -->
        <div class="form-group position-relative">
          <label for="panNo" class="form-label">Pan No <span style="color: red">*</span></label><br />
          
          <!-- PAN Number Input Field -->
          <input 
            type="text" 
            id="panNo" 
            class="form-control mt-2" 
            required 
            [(ngModel)]="panNo" 
            name="panNo"
            #panNoInput="ngModel"  
            (ngModelChange)="validatePanNo()" 
            maxlength="10" 
            [pattern]="'^[A-Z]{5}[0-9]{4}[A-Z]{1}$'" 
            (input)="onInputChange($event)"
            [ngClass]="{'is-invalid': panNoInput.invalid && panNoInput.touched, 'is-valid': panNoInput.valid && panNoInput.touched}" 
            title="PAN number must be in the format AAAAA9999A" 
            placeholder="Enter Pan Number" 
          />
          
          <!-- Display error message if PAN Number is invalid -->
          <div *ngIf="panNoInput.invalid && panNoInput.touched" class="text-danger form-text position-absolute">
            <div *ngIf="panNoInput.errors?.['required']">PAN Number is required</div>
            <div *ngIf="panNoInput.errors?.['pattern']">Invalid PAN Number. Please follow the format: AAAAA9999A</div>
          </div>
        </div>
        
        
      </div>
  
      <!-- 2nd column -->
      <div class="col-md-4">
        <!-- Middle Name -->
        <div class="form-group position-relative">
          <label for="middleName" class="form-label">Middle Name (Name As Per Pan)
            <span style="color: red">*</span></label>
          <input type="text" id="middleName" class="form-control" placeholder="Enter your middle name" required
            [(ngModel)]="middleName" name="middleName" pattern="^[A-Za-z\s]+$" minlength="2" maxlength="50"
            #middleNameInput="ngModel"
            (keypress)="restrictNumbers($event)" 
            (input)="onInputChange($event)"
            [ngClass]="{'is-invalid': middleNameInput.invalid && middleNameInput.touched, 'is-valid': middleNameInput.valid && middleNameInput.touched}"
         
            />
          <div *ngIf="middleNameInput.invalid && middleNameInput.touched" class="text-danger form-text position-absolute">
            <div *ngIf="middleNameInput.errors?.['required']">
              Middle Name is required
            </div>
            <div *ngIf="middleNameInput.errors?.['pattern']">
              Only uppercase letters and spaces are allowed
            </div>
            <div *ngIf="middleNameInput.errors?.['minlength']">
              Middle Name must be at least 2 characters
            </div>
            <div *ngIf="middleNameInput.errors?.['maxlength']">
              Middle Name cannot exceed 50 characters
            </div>
          </div>
        </div>
  
        <!-- Email (Read-only) -->
        <div class="form-group position-relative">
          <label for="emailInput" class="form-label">Email</label>
          
          <div class="input-group">
            <!-- Email input field (local part before @) -->
            <input 
              type="text" 
              id="emailInput" 
              class="form-control" 
              placeholder="Enter your email" 
              required 
              [(ngModel)]="emailLocalPart" 
              name="email" 
              (input)="validateEmailInput($event)"
              (keypress)="preventAtSymbol($event)"
              #emailInput="ngModel" 
              [ngClass]="{'is-invalid': emailInput.invalid && emailInput.touched, 'is-valid': emailInput.valid && emailInput.touched}"
            />
            
            <!-- Domain selection dropdown -->
            <select 
              class="form-control " 
              [(ngModel)]="selectedDomain" 
              (change)="updateEmail()"
              [ngModelOptions]="{standalone: true}"
              [disabled]="!emailLocalPart || emailLocalPart.includes('@')"
            >
              <option value="">select </option>
              <option value="gmail.com">&#64;gmail.com</option>
              <option value="yahoo.com">&#64;yahoo.com</option>
              <option value="outlook.com">&#64;outlook.com</option>
              <option value="other">&#64;other</option>
            </select>
          </div>
          
          <!-- Error messages -->
          <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger form-text position-absolute">
            <div *ngIf="emailInput.errors?.['required']">Email is required</div>
            <div *ngIf="emailInput.errors?.['email']">Please enter a valid email address</div>
          </div>
        </div>
        
        
        
        
        
        
  
        <!-- employment type -->
  
        <div class="form-group position-relative">
          <label for="empType" class="form-label">Employment Type <span style="color: red">*</span></label><br />
          <select 
            id="empType" 
            class="form-control mt-2 form-select" 
            aria-label="Employment Type" 
            required 
            [(ngModel)]="empType"
            name="empType" 
            (change)="validateForm()" 
            #empTypeInput="ngModel"
            [ngClass]="{'is-invalid': empTypeInput.invalid && empTypeInput.touched, 'is-valid': empTypeInput.valid && empTypeInput.touched}"
          >
            <option value="">Select employment type</option>
            <option value="Salaried">Salaried</option>
            <option value="Self Employed">Self Employed</option>
            <option value="Business Owner">Business Owner</option>
            <option value="other">Other</option>
          </select>
          <div *ngIf="empTypeInput.invalid && empTypeInput.touched" class="text-danger form-text position-absolute">
            <div *ngIf="empTypeInput.errors?.['required']">
              Employment type is required
            </div>
          </div>
        </div>
      </div>
  
  
      <!-- 3rd column -->
      <div class="col-md-4">
        <!-- Last Name -->
        <div class="form-group position-relative">
          <label for="lastName" class="form-label">Last Name (Name As Per Pan) <span style="color: red">*</span></label>
          <input type="text" id="lastName" class="form-control" placeholder="Enter your last name" required
            [(ngModel)]="lastName" name="lastName" pattern="^[A-Za-z\s]+$" minlength="2" maxlength="50"
            #lastNameInput="ngModel" 
            (input)="onInputChange($event)"
            (keypress)="restrictNumbers($event)" 
            [ngClass]="{'is-invalid': lastNameInput.invalid && lastNameInput.touched, 'is-valid': lastNameInput.valid && lastNameInput.touched}"
         
            />
          <div *ngIf="lastNameInput.invalid && lastNameInput.touched" class="text-danger form-text position-absolute">
            <div *ngIf="lastNameInput.errors?.['required']">
              Last Name is required
            </div>
            <div *ngIf="lastNameInput.errors?.['pattern']">
              Only uppercase letters and spaces are allowed
            </div>
            <div *ngIf="lastNameInput.errors?.['minlength']">
              Last Name must be at least 2 characters
            </div>
            <div *ngIf="lastNameInput.errors?.['maxlength']">
              Last Name cannot exceed 50 characters
            </div>
          </div>
        </div>
        <!-- number -->
        <div class="form-group position-relative">
          <label for="mobile">Mobile <span style="color: red">*</span></label><br />
          <input type="tel" id="mobile" class="form-control" required [(ngModel)]="mobile" name="mobile"
                 (input)="validateMobile()" maxlength="10" pattern="^\d{10}$" #mobileInput="ngModel"
                 (keypress)="restrictCharacter($event)"
                 (input)="onInputChange($event)"
                 [ngClass]="{'is-invalid': mobileInput.invalid && mobileInput.touched, 'is-valid': mobileInput.valid && mobileInput.touched}"
                 />
          
          <!-- Show error message if mobile validation fails -->
          <span *ngIf="mobileInput.invalid && mobileInput.touched" class="text-danger invalid-feedback form-text position-absolute">
            Please enter a valid 10-digit mobile number.
          </span>
        </div>
      </div>
    </div>
    <div class="row py-2 mt-3">
      <!-- Primary Applicant -->
      <div class="col-md-12">
        <div class="form-group ">
          <hr style="
                border-top: 1px solid grey;
                margin-top: 10px;
                margin-bottom: 10px;
              " />
        </div>
      </div>
    </div>
    <!-- 3rd row data -->
    <!-- 3rd row data -->
    <div class="row">
      <div class="col-md-4">
        <!-- employer type -->
        <div class="form-group position-relative">
          <label for="Employer1" class="form-label">
            Employer Type <span style="color: red;">*</span>
          </label><br />
        
          <!-- Employer Type dropdown -->
          <div class="input-group">
            <select 
              id="Employer1" 
              class="form-control" 
              aria-label="Type Of Employment" 
              required 
              [(ngModel)]="Employer1" 
              name="Employer1" 
              (blur)="validateEmployer()" 
              (change)="validateForm()" 
              #employerInput="ngModel" 
              [ngClass]="{
                'is-invalid': employerInput.invalid && employerInput.touched, 
                'is-valid': employerInput.valid && employerInput.touched
              }"
            >
              <option value="">Select Employer Type</option>
              <option value="salaried">Salaried</option>
              <option value="selfEmployed">Self-Employed</option>
              <option value="other">Other</option>
            </select>
          </div>
        
          <!-- Error message for invalid selection -->
          <div *ngIf="employerInput.invalid && employerInput.touched" class="text-danger mt-2 form-text position-absolute">
            <div *ngIf="employerInput.errors?.['required']">
              Employment Type is required.
            </div>
          </div>
        </div>
        
        <!-- avg bonus of last three years -->
        <div class="form-group position-relative">
          <label for="averageBouns" class="form-label">
            Average Bonus Of Last Three Years <span style="color: red;">*</span>
          </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
  
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" id="averageBouns" name="averageBouns" [(ngModel)]="averageBonus"
              (blur)="validateBonus()" 
              (keypress)="restrictCharacter($event)"
              [ngClass]="{'is-invalid': bonusError, 'is-valid': !bonusError && averageBonus !== '' }" />

              
          </div>
          <small *ngIf="bonusError" id="bonusError" class=" text-danger form-text position-absolute">Please enter a valid bonus
            amount</small>
        </div>
  
        <!-- future rent income -->
        <div class="form-group position-relative">
          <label for="futureIncome" class="form-label">
            Future Rent Income <span style="color: red;">*</span>
          </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" id="futureIncome" name="futureIncome" [(ngModel)]="futureRent"
              (blur)="validateFutureRent()" 
              (keypress)="restrictCharacter($event)"
              [ngClass]="{'is-invalid': futureRentError, 'is-valid': !futureRentError && futureRent !== '' }" />

              
          </div>
          <small *ngIf="futureRentError" id="futureRentError" class="form-text position-absolute text-danger">Please enter a valid future
            rent amount</small>
        </div>
  
      </div>
  
      <!-- 2nd colum -->
      <div class="col-md-4">
        <!-- monthly gross salary -->
        <div class="form-group position-relative">
          <label for="grossSalary" class="form-label">
            Monthly Gross Salary <span style="color: red;"> *</span>
          </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend ">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" id="grossSalary" name="grossSalary" [(ngModel)]="monthSalary"
              (blur)="validateMonthSalary()" 
              (keypress)="restrictCharacter($event)"
              [ngClass]="{'is-invalid': grossSalaryError, 'is-valid': !grossSalaryError && monthSalary !== '' }" />
          </div>
          <small *ngIf="grossSalaryError" id="grossSalaryError" class="form-text position-absolute text-danger">Please enter a valid monthly
            gross salary</small>
        </div>

        <!-- avg monthly  incentive of last 6 month -->
        <div class="form-group position-relative">
          <label for="avgInsentive" class="form-label">
            Average Monthly Incentive Of last 6 Month<span style="color: red;">*</span>
          </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" id="avgInsentive" name="avgInsentive" [(ngModel)]="incentive"
              (blur)="validateIncentive()"
              (keypress)="restrictCharacter($event)"
              [ngClass]="{'is-invalid': incentiveError, 'is-valid': !incentiveError && incentive !== '' }" />

              
          </div>
          <small *ngIf="incentiveError" id="incentiveError" class="form-text position-absolute text-danger">Please enter a valid average
            last 6 month incentive</small>
        </div>
  
        <!-- loan emi -->
        <div class="form-group position-relative">
          <label for="loan" class="form-label">
            Loan EMI (Obligation)<span style="color: red;"> *</span>
          </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" id="loan" name="loan" [(ngModel)]="loanEmi"
              (blur)="validateLoanEmi()" 
              (keypress)="restrictCharacter($event)"
              [ngClass]="{'is-invalid': loanError, 'is-valid': !loanError && loanEmi !== '' }" />

              
          </div>
          <small *ngIf="loanError" id="loanError" class="form-text position-absolute text-danger"> Please enter a valid Loan EMI
            (Obligation)
          </small>
        </div>
      </div>
  
      <!-- 3rd colum -->
      <div class="col-md-4">
        <!-- monthly net sal -->
        <div class="form-group position-relative">
          <label for="netsal" class="form-label">
            Monthly Net Salary <span style="color: red;"> *</span>
          </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" id="netsal" name="netsal" [(ngModel)]="netSalary"
              (blur)="validateNetSal()" 
              (keypress)="restrictCharacter($event)"
              [ngClass]="{'is-invalid': netSalError, 'is-valid': !netSalError && netSalary !== ''}" />
          </div>
          <small *ngIf="netSalError" id="netSalError" class="form-text position-absolute text-danger">
            Please enter a valid monthly net salary
          </small>
        </div>
        
        <!-- rent income -->
        <div class="form-group position-relative">
          <label for="income" class="form-label">
            Rent Income <span style="color: red;"> *</span>
          </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" id="income" name="income" [(ngModel)]="rentIncome"
              (blur)="validateRentIncome()"
              (keypress)="restrictCharacter($event)"
              [ngClass]="{'is-invalid': rentError, 'is-valid': !rentError && rentIncome !== ''}" />
          </div>
          <small *ngIf="rentError" id="rentError" class="form-text position-absolute text-danger">
            Please enter a valid rent income
          </small>
        </div>
        
        <!--pension  -->
        <div class="form-group position-relative">
          <label for="Pension" class="form-label">
            Pension <span style="color: red;"> *</span>
          </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
  
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" id="Pension" name="pension" [(ngModel)]="pension"
              (blur)="validatePension()" 
              (keypress)="restrictCharacter($event)"
              [ngClass]="{'is-invalid': pensionError, 'is-valid': !pensionError && pension !== '' }" />
              
          </div>
          <small *ngIf="pensionError" id="pensionError" class="form-text position-absolute text-danger"> Please enter a valid pension
          </small>
        </div>
      </div>
    </div>
    <!-- applicant -->
    <div class="row py-2 mt-3">
      <div class="col-md-12">
        <a href="" class="text-decoration-none"> <b>+ Add Co-Applicant</b></a>
      </div>
    </div>
    <!-- btn -->
    <div class="row py-2">
      <div class="col-md-12">
          <button type="button" class="btn btn-secondary" style="float: right; margin-right: 10px;" (click)="resetForm()">Reset</button>
        <button type="submit" class="btn btn-primary me-3" style="float: right;">Check</button>
      </div>
    </div>
  </div>
  
</form>
