<form
  action=""
  class="bg-white "
  novalidate
  [formGroup]="invoiceForm"
  (ngSubmit)="onSave()"
>
  <div class="container bg-light">
    <div class="row py-3 d-flex justify-content-between">
      <div class="col-md-9">
        <h1 class="color">DSA CRM</h1>
      </div>
      <div class="col-md-3">
        <h2 class="color mb-1">DSA CRM</h2>
        <address>
          <ul class="list-style" style="font-size: small">
            <li>office no:1008 ABC imperium rise wipro circle</li>
            <li>hinjewadi phase-2 pune 413202</li>
            <li>www.abc.com</li>
            <li>+91 7820897648 info <span></span> abc.com</li>
            <li>CIN:U6207352472AJGDHFER</li>
          </ul>
        </address>
      </div>
    </div>

    <!--  -->

    <div class="row py-3">
      <div class="col-md-12">
        <hr class="color" />
      </div>
    </div>
    <!--  -->
    <div class="row py-3">
      <div class="col-md-4">
        <div class="form-group position-relative  icon-field">
          <label for="invoiceNo">Invoice No</label>
          <div class="form-group position-relative">
            <span class="icon">
            <img src="Invice no Icon.svg" alt="" class="center-img">          
  </span>
            <input
            type="text"
            class="form-control"
            name="invoiceNo"
            id="invoiceNo"
            placeholder="enter invoice number"
            formControlName="invoiceNo"
            [ngClass]="{ 'is-invalid': formControls['invoiceNo'].touched && formControls['invoiceNo'].invalid ,
                          'is-valid': formControls['invoiceNo'].touched && formControls['invoiceNo'].valid
             }"
            required
          />
          <span
            *ngIf="formControls['invoiceNo'].touched && formControls['invoiceNo'].invalid"
            class="text-danger form-text position-absolute"
          >
            Invoice No must be numeric only
          </span>
            </div>
       
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group position-relative icon-field">
          <label for="Reference po no">Reference Po No</label>
          <div class="form-group position-relative">
            <span class="icon">
              <img src="PO no Icon.svg" alt="" class="center-img">          
            </span>
            <input
            type="text"
            class="form-control"
            placeholder="Reference Po No"
            formControlName="referencePoNo"
            [ngClass]="{ 'is-invalid': formControls['referencePoNo'].touched && formControls['referencePoNo'].invalid ,
                          'is-valid': formControls['referencePoNo'].touched && formControls['referencePoNo'].valid

             }"
            required
          />
          <span
            *ngIf="formControls['referencePoNo'].touched && formControls['referencePoNo'].invalid"
            class="text-danger form-text position-absolute"
          >
            Reference PO No is required
          </span>
            </div>
         
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group position-relative icon-field">
          <label for="date">Date</label>
          <div class="form-group position-relative">
            <span class="icon">
              <img src="Calender Icon.svg" alt="img" class="center-img">
            </span>
            <input
              type="date"
              class="form-control"
              formControlName="date"
              id="date"
              [ngClass]="{
                'is-invalid': formControls['date'].touched && formControls['date'].invalid,
                'is-valid': formControls['date'].touched && formControls['date'].valid
              }"
              required
            />
            <span
              *ngIf="formControls['date'].touched && formControls['date'].invalid"
              class="text-danger form-text position-absolute"
            >
              Date is required
            </span>
          </div>
        </div>
      </div>
      
    </div>
    <!--  -->
    <div class="row py-3">
      <div class="col-md-4">
        <div class="form-group position-relative icon-field">
          <label for="bank">Bank</label>
          <div class="form-group position-relative">
            <span class="icon">
              <img src="Select BANk.svg" alt="" class="center-img">          
            </span>
            <select
            class="form-control form-select"
            formControlName="bank"
            [ngClass]="{ 'is-invalid': formControls['bank'].touched && formControls['bank'].invalid,
                          'is-valid': formControls['bank'].touched && formControls['bank'].valid
             }"
            required
          >
            <option value="">select</option>
            <option value="hdfc">hdfc</option>
            <option value="state">state</option>
          </select>
          <span
            *ngIf="formControls['bank'].touched && formControls['bank'].invalid"
            class="text-danger form-text position-absolute"
          >
            Bank is required
          </span>
            </div>
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group position-relative icon-field">
          <label for="branch">RAC Branch</label>
          <div class="form-group position-relative">
            <span class="icon">
              <img src="RAC BANk.svg" alt="" class="center-img">          
            </span>
            <select
            class="form-control form-select"
            formControlName="branch"
            [ngClass]="{ 'is-invalid': formControls['branch'].touched && formControls['branch'].invalid ,
                          'is-valid': formControls['branch'].touched && formControls['branch'].valid
            }"
            required
          >
            <option value="">select</option>
            <option value="pune">pune</option>
            <option value="mumbai">mumbai</option>
          </select>
          <span
            *ngIf="formControls['branch'].touched && formControls['branch'].invalid"
            class="text-danger form-text position-absolute"
          >
            Branch is required
          </span>
            </div>
        
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row d-md-flex d-sm-block py-3">
      <div class="col-md-4 mb-sm-4">
        <label for="billing">Billing Address </label>
        <div class="form-group position-relative">
          <textarea
            class="form-control"
            placeholder="Enter Billing Address"
            formControlName="billingAddress"
            [ngClass]="{ 'is-invalid': formControls['billingAddress'].touched && formControls['billingAddress'].invalid ,
                        'is-valid': formControls['billingAddress'].touched && formControls['billingAddress'].valid
            }"
            required
          ></textarea>
          <span
            *ngIf="formControls['billingAddress'].touched && formControls['billingAddress'].invalid"
            class="text-danger form-text position-absolute"
          >
            Billing Address is required
          </span>
        </div>
      </div>

      <div class="col-md-4 mb-sm-4">
        <div class="form-group position-relative icon-field">
          <label for="billing state">Billing State </label>
         <div class="form-group position-relative">
            <span class="icon">
              <img src="Billing Addres.svg" alt="img" class="center-img">
            </span>
            <input
            type="text"
            placeholder="Enter Billing State"
            class="form-control"
            formControlName="billingState"
            [ngClass]="{ 'is-invalid': formControls['billingState'].touched && formControls['billingState'].invalid ,
                        'is-valid': formControls['billingState'].touched && formControls['billingState'].valid
            }"
            required
          />
          <span
            *ngIf="formControls['billingState'].touched && formControls['billingState'].invalid"
            class="text-danger form-text position-absolute"
          >
            Billing State is required
          </span>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group position-relative icon-field">
          <label for="tax">Billing Pincode </label>
          <div class="form-group position-relative">
            <span class="icon">
              <i class="fa fa-save"></i>
            </span>
            <input
            type="text"
            placeholder="Enter Billing Pincode"
            class="form-control"
            formControlName="billingPincode"
            [ngClass]="{ 'is-invalid': formControls['billingPincode'].touched && formControls['billingPincode'].invalid ,
                       'is-valid': formControls['billingPincode'].touched && formControls['billingPincode'].valid

             }"
            required
          />
          <span
            *ngIf="formControls['billingPincode'].touched && formControls['billingPincode'].invalid"
            class="text-danger form-text position-absolute"
          >
            Pincode must be 6 digits
          </span>
          </div>
         
        </div>
      </div>
    </div>
    <!--  -->

    <div class="row d-flex">
      <div class="col-md-3">
        <div class="form-group position-relative icon-field">
          <label for="tax">Tax </label>
          <div class="form-group position-relative">
            <span class="icon">
              <img src="Tax.svg" alt="img" class="center-img">
            </span>
            <select
              class="form-control form-select"
              formControlName="tax"
              [ngClass]="{ 'is-invalid': formControls['tax'].touched && formControls['tax'].invalid,
                            'is-valid': formControls['tax'].touched && formControls['tax'].valid
               }"
              required
            >
              <option value="">select</option>
              <option value="one">one</option>
              <option value="two">two</option>
              <option value="three">three</option>
            </select>
            <span
              *ngIf="formControls['tax'].touched && formControls['tax'].invalid"
              class="text-danger form-text position-absolute"
            >
              Tax is required
            </span>
          </div>
        
        </div>
      </div>
    
      <div class="col-md-3 offset-md-6">
        <div class=" position-relative mb-4 icon-field">
          <label for="subTotal" class="me-4 align-self-center">SubTotal</label>
          <div class="form-group position-relative">
            <span class="icon">
              <img src="Subtotal Icon.svg" alt="img" class="center-img">
            </span>
            <input
              type="text"
              class="form-control"
              formControlName="subTotal"
              placeholder=" Enter SubTotal"
              [ngClass]="{ 'is-invalid': formControls['subTotal'].touched && formControls['subTotal'].invalid,
                          'is-valid': formControls['subTotal'].touched && formControls['subTotal'].valid

               }"
              required
            />
            <span
              *ngIf="formControls['subTotal'].touched && formControls['subTotal'].invalid"
              class="text-danger form-text position-absolute"
            >
              SubTotal is required
            </span>
          </div>
        </div>
        
        <hr class="color mb-2 mt-2" style="border-top: 1px dashed grey" />

        <div class="position-relative mb-4 icon-field">
          <label for="totalTax" class="me-4 align-self-center">TotalTax</label>
          <div class="form-group position-relative">
            <span class="icon">
              <img src="Total Tax Icon.svg" alt="img" class="center-img">
            </span>
            <input
              type="text"
              class="form-control"
              formControlName="totalTax"
              placeholder="Enter TotalTax"
              [ngClass]="{ 'is-invalid': formControls['totalTax'].touched && formControls['totalTax'].invalid,
                        'is-valid': formControls['totalTax'].touched && formControls['totalTax'].valid

               }"
              required
            />
            <span
              *ngIf="formControls['totalTax'].touched && formControls['totalTax'].invalid"
              class="text-danger form-text position-absolute"
            >
              Total tax is required
            </span>
          </div>
        </div>
        
       <hr class="color mb-2 mt-2" style="border-top: 1px dashed grey" />

        <div class="position-relative mb-4 icon-field">
          <label for="totalAmount" class="me-4 align-self-center">TotalAmount</label>
          <div class="form-group position-relative">
            <span class="icon">
              <i class="fa fa-save"></i>
            </span>
            <input
              type="text"
              class="form-control"
              formControlName="totalAmount"
              placeholder="Enter TotalAmount"
              [ngClass]="{ 'is-invalid': formControls['totalAmount'].touched && formControls['totalAmount'].invalid ,
                            'is-valid': formControls['totalAmount'].touched && formControls['totalAmount'].valid 

              }"
              required
            />
            <span
              *ngIf="formControls['totalAmount'].touched && formControls['totalAmount'].invalid"
              class="text-danger form-text position-absolute"
            >
              Total Amount is required
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row py-3">
      <div class="col-md-12 d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-primary ml-auto me-3"
          (click)="resetForm()"
        >
          <i class="fas fa-edit"></i> Reset
        </button>
        <button
          type="submit"
          class="btn btn-primary ml-auto"
          [disabled]="!invoiceForm.valid"
        >
          <i class="fas fa-save"></i> Save
        </button>
      </div>
    </div>
  </div>
</form>
