<div class="container">
    <div class="row border bg-light my-3">
        <div class="col-md-12">
            <ul class="list-unstyled d-flex justify-content-between">
                <li class="me-5">#</li> <!-- Adds margin to the right of "#" -->
                <li>Name</li>
                <li class="ms-auto">Status</li> <!-- Pushes Status to the far right -->
            </ul>
        </div>
    </div>
    <!--  -->
    <div class="row text-start">
        <div class="col-md-12 ">
            <ul class="list-unstyled d-flex justify-content-between">
                <li class="me-5">1</li>
                <li>PAN Verification</li>
                <li class="ms-auto">
                    <div class="form-check form-switch ">
                        <input type="checkbox" class="form-check-input" >
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled d-flex justify-content-between">
                <li class="me-5">2</li>
                <li>Adhar</li>
                <li class="ms-auto">
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled d-flex justify-content-between">
                <li class="me-5">3</li>
                <li>Driving LIcence</li>
                <li class="ms-auto">
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled d-flex justify-content-between">
                <li class="me-5">4</li>
                <li>Credit Report</li>
                <li class="ms-auto">
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled d-flex justify-content-between">
                <li class="me-5">5</li>
                <li>ITR</li>
                <li class="ms-auto">
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled d-flex justify-content-between">
                <li class="me-5">6</li>
                <li>GSTIN</li>
                <li class="ms-auto">
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled d-flex justify-content-between">
                <li class="me-5">7</li>
                <li>CIN</li>
                <li class="ms-auto">
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>