<!-- nested-dropdown.component.html -->

<div class="dropdown">
  <ul class="dropdown-list">
    <li *ngFor="let item of dropdownData" class="dropdown-item">
      <a href="#" (click)="item.children && item.children.length > 0 && toggleChildren(item)">
        {{ item.label }}
      </a>
      
      <!-- Check if item has children -->
      <ul *ngIf="item.children && item.showChildren" class="nested-dropdown">
        <li *ngFor="let child of item.children" class="nested-dropdown-item">
          <a href="#" (click)="child.children && child.children.length > 0 && toggleChildren(child)">
            {{ child.label }}
          </a>
          
          <!-- Nested children -->
          <ul *ngIf="child.children && child.showChildren" class="nested-dropdown">
            <li *ngFor="let subChild of child.children" class="nested-dropdown-item">
              <input type="checkbox">
              {{ subChild.label }}
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>



  
<router-outlet />
